* {box-sizing: border-box;}

/* Style the navbar */
.navbar Brand .navbar Form {
  overflow: hidden;
  font-family: 'Cabin', sans-serif;
  font-family: 'Caveat', cursive;
  border-bottom-color: teal;

}

a { 
    color: teal;
}

